p a:link{
    color: black;
    text-align: center;
  } 
  a:visited{
    color: red;
    text-align: center;
  } 
   a:hover{
    color: green;
    font-size: 40px;
    text-align: center;
  } 
  .ball{
    border: 1px solid green;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: green;
    animation-name: ball;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate  ;

  }
  @keyframes ball{
    0%{ background-color: green;
        margin-left:10px;
    }
    12%{ background-color: palevioletred;
        margin-left:30px;
    }
    40%{ background-color: blue;
        margin-left:60px;
    }
    70%{ background-color: red;
        margin-left:80px;
    }
    100%{ background-color: yellow;
        margin-left:100px;
    }
  }
